.Menubtn{
    width: fit-content;
    height: 2.5rem;
    color: white;
    border-radius: 15px;
    border: none;
    background-color: #AA9C20;
    margin-top: 15px;
    font-family: Francois One;
    font-size: 15px;
    margin: 8px;
    font-weight: 600;
}

.Menu_container{
    overflow-y: auto;
    width: 80%;
    scroll-behavior: smooth;
    display: inline-grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    margin-top: 20px;
}

.Menulist_container{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
     
}

.Menulist-container__image{
    width: 100%;
    /* background-color: blue; */
}

.Menulist-container_list{
    width: 100%;
    /* background: gray; */
}