.top-navbar{
    background-color: #060000c4;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 20px;
    color: white;
    border-radius: 20px;
    font-size: 22px;
    width: 800px;
    height: 75px;
    justify-content: center;
    font-family: 'Francois One';
    font-style: normal;
}

.top-navbar__menu{
    display: flex;
    list-style: none;
    flex-direction: row;
    
}

.top-navbar__menuitem{
    margin-right: 20px;
}